
.wrapper {
    margin: auto;
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

.config {
    margin: auto;
    width: 60vw;
    height: 60vh;
    position: relative;
}

.hiddenGame {
    display: none;
}