<div class="gamingArea hidden wrapper" id="movingCanvas">
    <canvas id="gamingAreaCanvas"></canvas>
    <div id="intro">
        <h2 class="text" id="intro_text"></h2>
        <button id="skip_intro" type="button" (click)="skipIntro()">Skip</button>
    </div>
</div>
<div class="config gamingArea hidden" (mousedown)="toggleLegend($event)">
    <h3 class="text">Legend</h3>
    <div id="legend">
        <div class="shortcuts" id="time_related">
            <p class="text">
                <span class="shortcut" id="play_pause">
                    <img src="../../assets/images/tab.png" alt="Tab key" id="tab">
                    <span class="shortcut_definition"> - Play / Pause</span>
                </span>
                <span class="shortcut" id="speed_up">
                    <img src="../../assets/images/plus-key.png" alt="Plus key" id="plus">
                    <span class="shortcut_definition"> - Speed up</span>
                </span>
                <span class="shortcut" id="slow_down">
                    <img src="../../assets/images/minus-key.png" alt="Minus key" id="minus">
                    <span class="shortcut_definition"> - Slow down</span>
                </span>
                <span class="shortcut" id="a_w">
                    <img src="../../assets/images/a-key.png" alt="Key A" id="a_key">
                    &
                    <img src="../../assets/images/d-key.png" alt="Key D" id="d_key">
                    <span class="shortcut_definition"> - Move screen left & right</span>
                </span>
            </p>
        </div>
        <div class="shortcuts" id="segment_related">
            <p class="text">
                <span class="shortcut" id="move_segment">
                    <img src="../../assets/images/arrows.png" alt="Arrow keys" id="arrows">
                    /
                    <img src="../../assets/images/mouse_pointer.png" alt="Mouse" class="mouse" id="mouse">
                    <span class="shortcut_definition"> - Movement between segments</span>
                </span>
                <span class="shortcut" id="reset_segment">
                    <img src="../../assets/images/arrow-up.png" alt="Arrow Up" id="arrow_up">
                    /
                    <img src="../../assets/images/arrow-down.png" alt="Arrow down" id="arrow_down">
                    /
                    Double <img src="../../assets/images/mouse_pointer.png" alt="Mouse" class="mouse"
                        id="doubled_mouse">
                    <span class="shortcut_definition"> - Reset a segment</span>
                </span>
            </p>
        </div>
    </div>
</div>