
<div class="dropzone hiddenWhenGameStarts" id="dropzone">
    <input type="file" id="fileDrop" (change)="getBrowsedFile($event)"/>

    <img src="/assets/images/file-upload.png" alt="Drop your TextGrid file here" id="uploadImage">

    <h3>Drag and Drop your file here</h3>
    <h3>or</h3>
    <label for="fileDrop" id="fileBrowse">
        Browse for file
    </label>
</div>

<div class="metaInformation hiddenWhenGameStarts">
    <h2 id="filename"></h2>

    <div class="layerContainer">
        <input type="text" id="firstLayer" class="metaData layerInput" placeholder="First layer"/>
        <input type="text" id="secondLayer" class="metaData layerInput" placeholder="Second layer"/>
    </div>
    <div class="buttonContainer">
        <button value="Start game" type="button" id="startGame" class="button" (click)="transferFileContent()">Start Game</button>
    </div>
</div>