<div id="dragWrapper">
    <div class="dropzone hiddenWhenGameStarts" id="dropzone">
        <input type="file" id="fileDrop" class="pointer" (change)="getBrowsedFile($event)" />

        <img src="/assets/images/file-upload.png" alt="Drop your TextGrid file here" id="uploadImage">

        <h3 class="text">Drag and Drop your file here</h3>
        <h3 class="text">or</h3>
        <label for="fileDrop" id="fileBrowse">
            Browse for file
        </label>
    </div>
    <div id="supported_formats" class="hiddenWhenGameStarts">
        <button class="text segAlloc_button pointer" id="file_info" (click)="toggleSupportedFormats()"
            type="button">Supported file
            formats<br />------<br />TextGrid</button>
    </div>

    <div class="metaInformation hiddenWhenGameStarts">
        <h3 class="text" id="filename"></h3>
        <h2 class="text" id="layers"></h2>

        <div id="layerContainer">

        </div>
        <div class="buttonContainer">
            <button value="Start game" type="button" id="startGame" class="text segAlloc_button pointer hidden"
                (click)="transferFileContent()">Start
                Game</button>
        </div>
    </div>
</div>