
* {
    outline: none;
}

/* For the dropzone */
.dropzone {
    display: inline-block;
    width: 50vw;
    height: 10%;
    padding: 16px;
    text-align: center;
    border: dashed 3px #38424c;
    position: relative;
    margin-left: 23vw;
}
.dropzone #fileDrop {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 60vw;
    height: 100%;
    top: 0;
    left: 0;
}
.dropzone #fileBrowse {
    color: rgb(223, 219, 219);
    width: 30%;
    height: 50px;
    border-radius: 12px;
    background-color: #9c0a00;
    padding: 8px 16px;
}
.dropzone .text, .text {
    font-family: "Palatino", Times, serif;
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
}
#uploadImage {
    width: 120px;
    height: 120px;
}

#supported_formats {
    float: right;
    text-align: center;
    width: 20vw;
    margin-top: 20px;
}
#supported_formats #file_info {
    padding: 10px;
    border: none;
    background: none;
    font-size: 17px;
}
#supported_formats #file_info:hover {
    background: #f0f0f0;
}

/* For the text input fields for some more information neede for the game */
.metaInformation {
    width: 60%;
    height: 15%;
    padding: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
.metaInformation #filename {
    color: #38424c;
}
.metaInformation .metaData {
    display: none;
    border: solid 2px #FFFFFF;
    background-color: #9c0a00;
    position: relative;
}

.metaInformation #layerContainer {
    text-align: center;
    padding: 10px;
}

.metaInformation .buttonContainer {
    text-align: center;
    padding: 6px;
    display: block;
}
.metaInformation .button {
    display: none;
    border: solid 2px #FFFFFF;
    border-radius: 4px;;
    background-color: #9c0a00;
    color: rgb(223, 219, 219);
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
}

.metaInformation .visible {
    display: inline;
}
.hidden {
    display: none;
}


.hiddenWhenGameStarts {
    top: 30px;
    margin-bottom: 30px;
    font-family: "Palatino", Times, serif;
}