
#outerWrapper {
    position: relative;
}
/* For the dropzone */
#dragWrapper #dropzone {
    position: relative;
    width: 40vw;
    padding: 16px;
    text-align: center;
    border: dashed 3px #38424c;

    margin: 0 auto;
}
#dragWrapper #dropzone #fileDrop {
    opacity: 0;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
#dragWrapper #dropzone #fileBrowse {
    color: rgb(223, 219, 219);
    width: 30%;
    height: 50px;
    border-radius: 12px;
    background-color: #9c0a00;
    padding: 8px 16px;
}

#dragWrapper #dropzone .text {
    font-family: "Palatino", Times, serif;
    font-size: 20px;
    font-weight: 600;
    color: #38424c;
}
#dragWrapper #dropzone #uploadImage {
    width: 120px;
    height: 120px;
}

#dragWrapper #supported_formats {
    position: absolute;
    top: 100px;
    right: 5px;
    text-align: center;
    width: 20vw;
}
#dragWrapper #supported_formats #file_info {
    padding: 10px;
    border: none;
    background: none;
    font-size: 17px;
}
#dragWrapper #supported_formats #file_info:hover {
    background: #f0f0f0;
}

/* For the text input fields for some more information neede for the game */
#dragWrapper .metaInformation {
    width: 60%;
    height: 15%;
    padding: 10px;
    text-align: center;
    position: relative;
    margin: 0 auto;
}
#dragWrapper .metaInformation #filename {
    color: #38424c;
    font-size: 17px;
}
#dragWrapper .metaInformation .metaData {
    display: none;
    border: solid 2px #FFFFFF;
    background-color: #9c0a00;
    position: relative;
}

#dragWrapper .metaInformation #layerContainer {
    text-align: center;
    padding: 15px;
}

#dragWrapper .metaInformation .buttonContainer {
    text-align: center;
    padding: 6px;
    display: block;
}


#dragWrapper .hiddenWhenGameStarts {
    top: 30px;
    margin-bottom: 30px;
    font-family: "Palatino", Times, serif;
}