
<!-- Header -->


<!-- Drag'n'Drop & Upload Zone -->
<app-drag-n-drop (fileContent)="getFile($event)" (fileType)="getFileType($event)"
        (firstLayer)="getFirstLayer($event)" (secondLayer)="getSecondLayer($event)"
        (errorLogging)="getError($event)" [startGame]="startGame">
</app-drag-n-drop>

<app-error-logging [errorLogging]="errorLogging" [tiers]="tiers"></app-error-logging>

<app-parse-files [type]="fileType" [content]="fileContent" [firstLayer]="firstLayer"
        [secondLayer]="secondLayer" (errorLogging)="getError($event)"
        (tiers)="getTiers($event)" (data)="getData($event)">
</app-parse-files>

<app-game [startGame]="startGame"></app-game>

<!-- Footer -->