
.header {
    margin: 10px;
}

#long {
    background-size: 20px 4px, 100% 10px;
}

#short {
    background-size: 20px 4px, 100% 10px;
    width: 60%;
    margin-left: 0;
}

.gradient {
    height: 2px;
    background-image: linear-gradient(90deg, transparent, transparent 50%,
                #FFFFFF 50%, #FFFFFF 100%),
                linear-gradient(90deg, #9c0a00, #FFFFFF);
    border: none;
}

#name {
    margin: 0;
    padding-left: 10px;
    margin-bottom: -5px;
    color: #832620;
}